.container{
	width:50%;
	margin:auto;
	height:auto;
}

.box {
  display: inline-block;
  background-color: #0074d9;
  height: 100px;
  width: 150px;
  text-align:center;
  padding-top:10px;
  font-size: 20px; 
  color: red;
  margin-right: 5px;
  margin-left: 5px;
  opacity: .8;
  border-radius:4px;
transform: rotate(30deg)translateX(40px);
}
 .animate{
  animation: round 3s infinite;
 
  
 }

 .left-top{
	 transform-origin: left top 
 }
  .left-bottom{
	 transform-origin: left bottom 
 }
 
   .center{
	 transform-origin: center
 }
 
 
 
 
@-webkit-keyframes round {
  0% {
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes round {
  0% {
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}
 
 
 
 
 
 
 
 
/* content-box  start */
.content-box{
	width:300px;
	height:420px;
	padding:20px;
	font-size:20px;
	border:2px dotted orange;
	margin:auto;
	
-webkit-transition: all .50s ease;
-moz-transition: all .50s ease;
-ms-transition: all .50s ease;
-o-transition: all .50s ease;
transition: all .50s ease;
} 
 
 .content-box:hover{ 
 transform:rotateX(60deg) rotateZ(-30deg);
  transform-style:preserve-3d;  
  }
 
 
 
 
 
 
 
 
 
 
 
